<div class="container mt-4">
    <h1>Data Barang <button type="button" class="btn btn-success" (click)="openModal()">Tambah</button></h1>
    
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Deskripsi</th>
            <th>Qty</th>
            <th>Harga per pcs</th>
            <th class="text-center">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>  
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.qty }}</td>
            <td>{{ item.harga }}</td>
            <td class="text-center">
              <button class="btn btn-warning m-1" (click)="updateData(item.id, item.name, item.description)">Edit</button>
              <button class="btn btn-danger m-1" (click)="deleteData(item.id)">Hapus</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tambah Barang</h4>
        
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
              <label for="firstName" class="form-label">Nama</label>
              <input type="text" class="form-control" id="name" placeholder="Nama Barang" name="name" [(ngModel)]="formData.name">
          </div>
          <div class="mb-3">
              <label for="lastName" class="form-label">Deskripsi</label>
              <input type="text" class="form-control" id="description" placeholder="Deskripsi" name="desc" [(ngModel)]="formData.desc">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Qty</label>
            <input type="text" class="form-control" id="description" placeholder="Qty" name="qty" [(ngModel)]="formData.qty">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Harga</label>
            <input type="text" class="form-control" id="description" placeholder="Harga" name="harga" [(ngModel)]="formData.harga">
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseHandled()" >Close</button>
      </div>
    </div>
  </div>
</div>

